[Unit]
Description=Runs the mapping api

[Service]
Environment="ROS_LOG_DIR=/mnt/ssd/sftp/log/ros2"
Environment="ROS_DOMAIN_ID=96"
Environment="ROVE_WS=/home/capra/projects/photorealistic-mapping/install/setup.bash"
ExecStart=/bin/bash -c "source /home/capra/projects/photorealistic-mapping/install/setup.bash && python3 /home/capra/projects/photorealistic-mapping/mapping_api.py"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
